<div
    [@transitionToRight]="
        (mobileMenuService.menuState$ | async) ? 'open' : 'closed'
    "
    class="menu-container"
>
    <div class="heading">
        <div class="bucket-container">
            <div class="count">{{ bucketService?.bucketCount$ | async }}</div>
            <mat-icon class="plate-icon" svgIcon="plate"></mat-icon>
        </div>
        <div class="close-wrapper" (click)="close()">
            <mat-icon
                @baseThemeTransition
                svgIcon="close"
                class="close-icon"
            ></mat-icon>
        </div>
    </div>
    <div class="routes">
        <h2 (click)="close()" class="route" routerLink="details">
            Детали подписки
        </h2>
        <h2 (click)="close()" class="route" routerLink="my-pets">
            Мои любимцы
        </h2>
        <h2 (click)="close()" class="route" routerLink="additional/snacks">Снэки</h2>
        <h2 (click)="close()" class="route" routerLink="additional/merchandise">Мерч</h2>
        <h2 (click)="close()" class="route" routerLink="faq">Вопросы</h2>
    </div>

    <div class="contacts">
        <a class="link" href="mailto:help@barker.com">help@barker.com</a>
        <a class="link" href="tel:+380123456789">+38 012 345 67 89</a>
        <a class="link" href="http://instagram/barker">Instagram</a>
        <a class="link" href="http://facebook/barker">Facebook</a>
        <div class="switch-language link">
            <div class="label" (click)="isLangListOpened = !isLangListOpened">
                {{ (localizationService.languageState$ | async)?.label }}
                <mat-icon
                    class="check-icon"
                    [class.opened]="isLangListOpened"
                    svgIcon="check-right"
                ></mat-icon>
            </div>
            <div
                class="lang-list"
                *ngFor="let item of localizationService?.langList"
                [class.opened]="isLangListOpened"
            >
                <div class="item" (click)="switchLanguage(item)">
                    {{ item.label }}
                </div>
            </div>
        </div>
    </div>

    <div class="main-controls">
        <div (click)="close()" class="link" routerLink="dashboard">
            На главную
        </div>
        <div class="link" (click)="logout()">Выход</div>
    </div>
</div>
