:host {
    .title {
        margin-top: 0;

        @media (min-width: 1024px) {
            margin-top: 10px;
        }
    }

    .description {
        color: rgba(0, 0, 0, 0.5);
    }

    .controls {
        padding: 10px 0;

        ::ng-deep bar-flat-button {
            button {
                padding: 16px;

                @media (min-width: 1024px) {
                    left: 0;
                    transform: none;
                    width: 257px;
                    height: 57px;
                }
            }
        }

        @media (min-width: 1024px) {
            padding-bottom: 10px;
        }
    }
}
