span {
    display: inline-block;
    padding: 5px;
    margin: 10px 0;

    @media (min-width: 1024px) {
        margin: 0;
    }
    
    &.down {
        transform: rotate(180deg);
    }

    svg {
        cursor: pointer;
    }
}
