<div class="payment-details-container">
    <div class="message-container warning" *ngIf="!subscription?.paid && subscription?.active">
        <div class="text">
            Мы не сможем доставить еду, если заказ не будет оплачен до 18:00 18
            июля
        </div>
        <bar-modal-button (click)="changeCard()">
            Изменить карту
        </bar-modal-button>
    </div>
    <div class="message-container info" *ngIf="!subscription?.active">
        <div class="text">
            При возобновлении подписки вам нужно будет 
            заново ввести платежную карту
        </div>
        <bar-modal-button (click)="changeCard()">
            Изменить карту
        </bar-modal-button>
    </div>

    <bar-subscription-tile></bar-subscription-tile>

    <div class="title">
        История платежей
    </div>
    
    <bar-payment-history-item
        *ngFor="let item of payments$ | async"
        [item]="item"
    ></bar-payment-history-item>
</div>
