$registration-page-height-mobile: calc(100vh - 95px);
$registration-page-width-mobile: calc(100vw - 64px);
$registration-page-height: calc(100vh - 141px);
$registration-page-width: calc(100vw - 130px);

$user-page-header-height-mobile: 72px;
$user-page-header-height-ipad: 100px;
$user-page-header-height: 100px;

$user-page-footer-height-ipad: 83px;
$user-page-footer-height: 100px;

$user-page-side-offset-mobile: 32px;
$user-page-side-offset-ipad: 64px;
$user-page-side-offset-desktop: 112px;
