<!-- <div class="check-up-edit-container" [ngSwitch]="currentStep">
    <div class="close-wrapper" (click)="close()">
        <mat-icon
            @baseThemeTransition
            svgIcon="close"
            class="close-icon"
        ></mat-icon>
    </div>

    <bar-registration-main-info
        *ngSwitchCase="steps.MainInfo"
    ></bar-registration-main-info>

    <bar-registration-birth-date *ngSwitchCase="steps.DateOfBirth">
    </bar-registration-birth-date>

    <bar-registration-weight
        *ngSwitchCase="steps.Weight"
    ></bar-registration-weight>

    <bar-registration-activity
        *ngSwitchCase="steps.Activity"
    ></bar-registration-activity>

    <bar-registration-pathologies
        *ngSwitchCase="steps.Pathologies"
    ></bar-registration-pathologies>

    <bar-registration-prefers
        *ngSwitchCase="steps.Prefers"
    ></bar-registration-prefers>

    <div class="control-container">
        <bar-action-button [arrow]="false" (clickHandler)="saveChanges()">
            Сохранить
        </bar-action-button>
    </div>
</div> -->
