<button class="btn hamburger-btn" (click)="onClick($event)">
    <div class="icon-container">
        <div class="top">
            <mat-icon svgIcon="hamburger-top" class="hamburger-icon"></mat-icon>
        </div>
        <div class="middle">
            <mat-icon
                svgIcon="hamburger-middle"
                class="hamburger-icon"
            ></mat-icon>
        </div>
        <div class="bottom">
            <mat-icon
                svgIcon="hamburger-bottom"
                class="hamburger-icon"
            ></mat-icon>
        </div>
    </div>
</button>
