.bar-input {
    background: rgba(241, 241, 241, 0.6);
    border: none;
    border-radius: 60px;
    padding: 15px 20px;
    font-size: 1.13rem;
    line-height: 1.6rem;
    font-family: "Twentytwelve";
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
        color: rgba(0, 0, 0, 0.3);
    }

    // hide increase / decrease buttons
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &[type="number"] {
        -moz-appearance: textfield;
    }
}

.error-icon {
    position: absolute;
    top: 36%;
    transform: translateY(-50%);
    right: 16px;
    height: 18px;
    width: 18px;
}
