.registration-weight {
    width: 100%;
    margin: 0 auto;
    position: relative;

    .input-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:first-child {
            padding-bottom: 20px;
        }

        &.disabled {
            opacity: 0.5;
        }

        .input-with-label {
            display: flex;
            align-items: center;
            width: 35%;
            height: 46px;

            .bar-input {
                padding: 0 20px;
                line-height: 2.6;
            }

            .label-text {
                padding-left: 8px;
            }
        }

        .label-text {
            font-size: 1.15rem;
        }
    }

    .tonus-button {
        opacity: 0.5;

        &.active {
            opacity: 1;
        }
    }

    .tonus-group-container {
        margin-top: 35px;

        .tonus {
            .tonus-header {
                font-size: 1.15rem;
                padding-bottom: 10px;
            }
        }

        .radio-group {
            display: flex;
            justify-content: space-between;

            .bar-radio-button {
                width: 30%;
                min-height: 120px;

                label {
                    font-size: 0.88rem;

                    img {
                        height: 54px;
                        display: block;
                        padding-bottom: 10px;

                        @media (min-width: 1024px) {
                            height: 90px;
                        }
                    }
                }

                &.content-above label {
                    &::before {
                        left: auto;
                        transform: none;
                    }
                    &::after {
                        left: 12px;
                    }
                }
            }
        }
    }

    .control-container {
        margin-top: 55px;
    }

    @media (min-width: 1024px) {
        width: 430px;
        padding-left: 100px;

        form {
            .form-inner-wrapper {
                display: flex;

                .text-inputs {
                    width: 68%;
                }

                .tonus-button {
                    margin-bottom: 7px;
                    padding-left: 50px;
                    align-items: flex-end;
                    display: flex;
                }
            }
        }

        .tonus-group-container {
            margin-top: 45px;

            .tonus {
                .tonus-header {
                    font-size: 1.2rem;
                    padding-bottom: 20px;
                }
            }

            .radio-group {
                .bar-radio-button {
                    width: 25%;

                    &:last-child {
                        width: 20%;
                    }
                }
            }
        }

        .control-container {
            margin-top: 70px;
        }
    }
}
